body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}
header> h1{
    display: inline-block;
    margin-left: 30px;
}
#logo{
    width: 60px;
}
h3{
    font-size: 25px;
}
#F0{
    width: 900px;
    height: 600px;
}
#F1{
    width: 900px;
    height: 600px;
}
#F2{
    width: 900px;
    height: 600px;
}
#F3{
    width: 900px;
    height: 600px;
}
#F4{
    width: 900px;
    height: 600px;
}
#F5{
    width: 900px;
    height: 600px;
}